
/*body {
    background-image: url('../backgrounds/mh_ancient_forest.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#reimbListDiv {
    top: 0%;
    position: center;
    margin-top: 0%;
    
    padding: 2%;

}

#login-form {
    top: 0%;
    position: center;
    margin-top: 15%;
    background-color: rgba(255, 255, 255, 0.7);

    padding: 5%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.9);
    border-width: 2px;
    border-radius: 2%;

}

.navbar {
    background-color: rgba(255, 255, 255, 0.1);

    border-style: solid;
    border-color: rgba(0, 0, 0, 0.9);
    border-width: 1px;
    border-radius: 2%;
}
*/

